	/* sm */
 @media (min-width: 768px) and (max-width: 991px) {
	 
	#home-board h5 {
	  font-size: 15px;
	}
	
	#home-board h4 {
	  font-size: 16px;
	}
	
	#home-board h1 {
	  font-size: 30px;
	}
	
	#download-btn {
		margin-top: -15px;
		font-size: 11px;
		width: 140px;
	}
	
	#view-btn {
		margin-top: -15px;
		font-size: 11px;
		width: 140px;
	}
	
	#features .line {
		left: 47%;
	}
	
	#pricing .line {
		left: 47%;
	}
	
	#features .btn {
		padding: 6%;
		margin-top: 40px;
	}
	
	#features span {
		font-size: 10px;
	}
}
/* xs */
@media (min-width: 480px) and (max-width: 767px) {
	section {
		padding-top: 10%;
	}
	
	#home-board h5 {
	    font-size: 12px;
	}
	
	#home-board h4 {
		margin-top: 0px;
	    font-size: 15px;
	}
	
	#home-board h1 {
	    font-size: 28px;
	}
	
	.phone {
		margin-top: 60px;
	}
	
	#download-btn {
		margin-top: -25px;
		font-size: 10px;
		width: 135px;
	}
	
	#view-btn {
		margin-top: 10px;
		font-size: 10px;
		width: 135px;
	}
	
	#features  h1 {
		font-size: 30px;
	}
	
	#features h4 {
		margin-top: 0px;
		font-size: 17px;
	}
	
	#features .line {
		left: 46%;
	}
	
	#features .btn {
		padding: 6%;
		margin-top: 40px;
	}
	
	#about h1 {
		font-size: 30px;
	}
	
	#about h4 {
		margin-top: 0px;
		font-size: 15px;
	}
	
	#about .con {
		font-size: 15px;
	}
	
	#about li {
		font-size: 15px;
	}
	
	ul {
		margin-top: -13px;
	}
	
	#feature-details h1 {
		font-size: 30px;
	}
	
	#feature-details h4 {
		margin-top: 0px;
		font-size: 15px;
	}
	
	#testimonials h1{
		font-size: 30px;
	}
	
	.item {
    margin-top: 0%;
    }
	
	.second {
		margin-top: -40px;
	}
	
	h6 {
		color: black;
	}
	
	#pricing h1 {
		font-size: 30px;
	}
	
	#pricing h4 {
		font-size: 17px;
		margin-top: 0px;
	}
	
	#contact h1 {
		font-size: 30px;
	}
	
	#pricing .line {
		left: 46%;
	}
	
	#contact .line {
		left: 46%;
	}
	.contact {
	  height: 900px;
	}
	
	.pricing-slide p {
	  font-size: 16px;
	  margin-top: 35px;
	  margin-bottom: 20px;
	}
	
	.item h6 {
	  font-size: 13px;
	}
	
	.item h5 {
	  font-size: 12px;
	}
	
	.item img {
	  margin-bottom: 95px;
	}
	
	.contact p {
	  font-size: 14px;
	}
}
/* XS Portrait */
@media (max-width: 479px) {
	#home-board {
		margin: 0px;
	}
	
	#home-board .col-xs-6 {
		padding: 0px;
	}
	
	#home-board h5 {
	    font-size: 11px;
	}
	
	#home-board h4 {
		line-height: 1;
		margin-top: -10px;
	    font-size: 12px;
	}
	
	#home-board h1 {
	    font-size: 24px;
	}
	
	.phone {
		margin-top: 50px;
	}
	
	#download-btn {
		padding: 12px 0px;
		margin-top: -30px;
		margin-left: 0px;
		font-size: 8px;
		width: 100px;
	}
	
	#view-btn {
		margin-left: 0px;
		margin-top: -30px;
		padding: 12px 0px;
		margin-top: 10px;
		font-size: 8px;
		width: 100px;
	}
	
	#features  h1 {
		font-size: 25px;
	}
	
	#features  h5 {
		font-size: 11px;
	}
	
	#features h4 {
		margin-top: 0px;
		font-size: 15px;
	}
	
	#features h3 {
		margin-top: 10px;
		font-size: 20px;
	}
	
	#features  .line {
		left: 42%;
	}
	
	#features .btn {
		padding: 8%;
		margin-top: 40px;
	}
	
	#features .fa {
		font-size: 20px;
	}
	
	#features .pow {
	border: 1px solid #0080FF;
}

	#about h1 {
		font-size: 25px;
	}
	
	#about h5 {
		font-size: 11px;
	}
	
	#about h4 {
		margin-top: 0px;
		font-size: 12px;
	}
	
	#about .con {
		font-size: 13px;
	}
	
	#about li {
		font-size: 11px;
	}
	
	ul {
		padding-left: 0px;
		margin-top: -13px;
	}
	
	#feature-details h1 {
		font-size: 25px;
	}
	
	#feature-details h5 {
		font-size: 11px;
	}
	
	#feature-details h4 {
		margin-top: 0px;
		font-size: 12px;
	}
	
	#testimonials h1{
		font-size: 25px;
	}
	
	#testimonials h5 {
		font-size: 11px;
	}
	
	#testimonials h4 {
		margin-top: 0px;
		font-size: 12px;
	}
	
	.pricing-slide p {
	  font-size: 14px;
	  margin-top: 25px;
	  margin-bottom: 15px;
	}
	.item h5 {
  		font-size: 10px;
  	}
	.item h6 {
  		font-size: 12px;
  	}
  	.item img {
	  margin-right: 10px;
	  margin-bottom: 21px;
	}
	
	#pricing-bot {
		padding: 20px;
	}
	
	#pricing-bot h1 {
		font-size: 27px;
	}
	
	#download-btn1 {
		padding: 12px 0px;
		margin-left: 0px;
		font-size: 8px;
		width: 100px;
	}
	
	#view-btn1 {
		margin-left: 0px;
		margin-top: -30px;
		padding: 12px 0px;
		margin-top: 9px;
		font-size: 8px;
		width: 100px;
	}
	
	#pricing h1{
		font-size: 25px;
	}
	
	#pricing  .panel-body h1 {
		font-size: 40px;
	}
	
	#pricing span {
		font-size: 20px;
	}
	
	#pricing h5 {
		font-size: 11px;
	}
	
	#pricing h4 {
		margin-top: 0px;
		font-size: 15px;
	}
	
	#pricing .line {
		left: 43%;
	}
	
	#pricing .btn {
		margin-top: 20px;
		padding: 10px 10px;
		width: 120px;
		font-size: 12px;
	}
	
	#pricing h3 {
		font-size: 20px;
	}
	
	#contact .line {
		left: 43%;
	}
	
	#contact h1 {
		font-size: 25px;
	}
	
	#contact h5 {
		font-size: 11px;
	}
	
	.contact {
	  	height: 900px;
	}
	
	.contact p {
	  	font-size: 13px;
	}
	
	.footer .glyphicon {
		font-size: 12px;
	}

	.top-header img.logo {
		position: absolute;
		margin-bottom: 20px;
	}
}
